@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f3f0f0;

}

.logoAlura{
    margin: 3%;
}

main {
    display: flex;
    justify-content: center;
    height: auto;
    width: 90%;
    margin: auto;
}

.encrypt{
    width: 100%;
}

.textArea{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    cursor: pointer;
    text-transform: lowercase;
}

.textArea::placeholder{
    font-family: 'Inter', sans-serif;
    text-transform: none;
}

.textArea:focus{
    outline: none;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;
    position: absolute ;
    width: 80%;
    left: 12%;
    top: 80%;
}

.info p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 86%;
    gap: 2%;
}


.btnEncrypt{
    align-items: center;
    justify-content: center;
    color: #D8DFE8;
    background-color: #0A3871;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    padding: 2%;
    width: 25%;
    gap: 8px;
}

.btnDecrypt{
    justify-content: center;
    align-items: center;
    color: #0A3871;
    background-color: #D8DFE8;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    padding: 2%;
    width: 25%;
    gap: 8px;
}

.decrypt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 30%;
    height: 100%;
    left: 60%;   
    top: 5%;
}

figure personImg{
    width: 100%;
    margin-top: 35%;
    padding-bottom: 4%;
    object-fit: cover;
}

figcaption p{
    text-align: center;
}

figcaption p:nth-child(1){
    font-weight: bolder;
}

figcaption p:nth-child(2){
    margin-bottom: 40px;
}

.output{
    width: 90%;
    height: 410px;
    padding-bottom: 174px;
    text-align: center;
    color: #0a3871;
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    resize: none;
    border: none;
    outline: 0;
}

.btnCopy{
    
    justify-content: center;
    align-items: center;
    color: #0A3871;
    background-color: #D8DFE8;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    padding: 2%;
    width: 25%;
    gap: 8px;
}